.nav {
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.nav-logo {
  width: 250px;
  height: auto;
  overflow: hidden;
}

body {
  touch-action: pan-y;
  font-family: 'Roboto Slab', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.container, .rating-container, .recommend-container,
.thank-you-message, .feedbackform {
  color: white;
  background-color: rgba(75, 75, 77, 0.9);
  padding: 20px;
  border-radius: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-top: 20px;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .container, .rating-container, .recommend-container,
  .thank-you-message, .feedbackform {
    width: 100%; 
    border-radius: 0;
  }
  .container, .rating-container, .recommend-container,
  .thank-you-message, .feedbackform {
    padding: 10px;
    margin-top: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  label {
    font-size: 0.9rem;
  }

  input, textarea {
    padding: 8px;
    font-size: 16px; 
    max-width: 100%; 
    -webkit-text-size-adjust: 100%;
  }

  button {
    padding: 8px;
    font-size: 0.9rem;
  }
}

  h1 {
    color: white;
    text-align: center;
  }
  
  form {
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: white;
    margin-top: 10px;
  }
  
  input, textarea {
    color: black;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; 
    max-width: 100%; 
    -webkit-text-size-adjust: 100%;
  }

  #feedback-photos {
    display: block;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(105, 105, 110);
    width: 100%;
    box-sizing: border-box;
    color: white;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(85,101,138);
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(93, 111, 152);
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(107,107,107);
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  